{% extends 'base.html.twig' %}

{% block title %}Hello MeController!{% endblock %}

{% block body %}



    <!-- Container -->
    <div class="container mx-auto">
        <div class="flex justify-between my-10 rounded-xl bg-gray-100   shadow-md p-16">


            <img src="https://cdn.pixabay.com/photo/2017/06/13/12/54/profile-2398783_1280.png" alt="user image"
                 class="w-100 h-auto hidden lg:block lg:w-1/6 bg-cover rounded-xl">


            <div class="flex flex-col  align-center justify-center">
                <h2 class="pt-4 mb-2 text-2xl"> {{ app.user.prenom }} {{ app.user.nom }}</h2>
                <p>email : {{ app.user.email }}</p>
                <p>age : {{ app.user.age }}</p>
                <p>telephone : {{ app.user.numero }}</p>
                <p>compte verifié : {% if app.user.verifIdentity %} Oui {% else %}  Non {% endif %}</p>
            </div>

            <div class="flex flex-col  align-center justify-center">
                <a href="{{ path("me_edit") }}"
                   class="bg-blue-500  my-2 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                    Edit Profile
                </a>


                {% if is_granted('ROLE_ADMIN') %}


                    <a href="{{ path("admin") }}"
                       class="bg-blue-500  my-2 rounded-full font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-600 mr-6">
                        Admin panel
                    </a>


                {% endif %}


                <a class="bg-red-500  flex justify-center my-2 rounded-full font-bold text-white px-4 py-3 align-center transition duration-300 ease-in-out hover:bg-red-600 mr-6"
                   href="{{ path('app_logout') }}">Logout</a>


            </div>
        </div>

        <div class="flex justify-between mt-24">


            <a class="box-border h-1/2 w-1/6 p-4  bg-gray-100 flex flex-col  justify-evenly align-center rounded-xl hover:bg-blue-300 shadow-md p-16 cursor-pointer">
                <h3>Mes Encheres</h3>
                <svg xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" viewBox="0 0 73.62 66.16">
                    <defs>
                        <style>.cls-1 {
                                fill: #484848;
                            }

                            .cls-2 {
                                fill: #6b6b6b;
                            }

                            .cls-3 {
                                fill: #fde19d;
                            }

                            .cls-4 {
                                fill: #bfbfbf;
                            }

                            .cls-5 {
                                fill: #d56331;
                            }

                            .cls-6 {
                                fill: #d4e4e5;
                            }

                            .cls-7 {
                                fill: #3f9595;
                            }

                            .cls-8 {
                                fill: #bea976;
                            }

                            .cls-9 {
                                fill: #3f2c00;
                            }</style>
                    </defs>
                    <g id="Calque_2" data-name="Calque 2">
                        <g id="Layer_1" data-name="Layer 1">
                            <path class="cls-1"
                                  d="M72.86,26.86V25.43l.6-2.2V11.08a.92.92,0,0,0-.91-.91.9.9,0,0,0-.9.91v5H71.4V10.16a.91.91,0,0,0-1.81,0v5.93h-.25V9.85a.91.91,0,0,0-1.81,0v6.24h-.25V10.46a.91.91,0,1,0-1.81,0v9.3L64.3,17.9a1.09,1.09,0,1,0-1.85,1.16l3.34,5.34.28,1v1.43h-.69V43.1L56.18,52l-1.12-.24-.2-3.59h0l0-.52v-.21A16.56,16.56,0,0,0,59,40.12v0l.09-.33c0-.19.09-.37.13-.56s.08-.37.12-.56l.09-.48c0-.22.06-.44.08-.66s0-.25,0-.37c0-.34,0-.67,0-1a9.1,9.1,0,1,0-18.19,0c0,.33,0,.66,0,1l.06.48c0,.18,0,.35.07.53s.07.41.11.62,0,.28.09.42.1.42.15.63l.08.29h0a16.58,16.58,0,0,0,4.16,7.32v.12l0,.61h0l-.2,3.6s-8.59,1.69-10.12,3.93,0,10.45,0,10.45H65.37s1-5.76.51-8.93l6.76-9.76.26-.38a4,4,0,0,0,.72-2.28v-18Z"/>
                            <path class="cls-2"
                                  d="M37.83,55.71c-1.54-2.24-10.12-3.93-10.12-3.93l-.2-3.6h0l0-.61v-.12a16.5,16.5,0,0,0,4.17-7.32h0a2.82,2.82,0,0,0,.07-.31c.06-.2.11-.4.16-.6l.09-.45c0-.2.08-.4.11-.59s0-.37.07-.56,0-.3,0-.46c0-.33,0-.66,0-1a9.1,9.1,0,1,0-18.2,0c0,.33,0,.66.05,1,0,.12,0,.25,0,.37s.05.44.09.66a4,4,0,0,0,.09.48c0,.19.07.37.11.56s.09.37.14.56,0,.22.08.33v0a16.45,16.45,0,0,0,4.15,7.33v.25l0,.48h0l-.2,3.6L17.44,52,8.24,43.1V26.86H7.55V25.43l.28-1,3.34-5.34A1.1,1.1,0,1,0,9.31,17.9L8.15,19.76v-9.3a.91.91,0,1,0-1.81,0v5.63H6.09V9.85a.91.91,0,0,0-1.81,0v6.24H4V10.16a.91.91,0,0,0-1.82,0v5.93H2v-5a.91.91,0,0,0-.91-.91.91.91,0,0,0-.9.91V23.23l.6,2.2v1.43H0v18a4,4,0,0,0,.71,2.28l.27.38,6.76,9.76c-.52,3.17.5,8.93.5,8.93H37.83S39.3,57.87,37.83,55.71Z"/>
                            <path class="cls-3"
                                  d="M63.58,14.64V2.47a1,1,0,1,0-2.09,0V8.26H61.2V1.41a1.05,1.05,0,1,0-2.1,0V8.26h-.28V1.05a1.05,1.05,0,0,0-2.1,0V8.26h-.29V1.75a1,1,0,1,0-2.09,0V12.5L53,10.35a1.27,1.27,0,0,0-2.14,1.35l3.86,6.17.33,1.2h7.85l.69-2.55Z"/>
                            <rect class="cls-4" x="55.04" y="19.07" width="7.85" height="8"/>
                            <path class="cls-5"
                                  d="M54.24,20.72V39.49L43.6,49.81c-.78-.18-1.29-.27-1.29-.27H31.72s-9.93,2-11.7,4.54,0,12.08,0,12.08H54.23s1.18-6.66.59-10.32l7.81-11.29.31-.44a4.61,4.61,0,0,0,.82-2.64V20.72Z"/>
                            <polygon class="cls-6"
                                     points="41.57 57.85 44.07 56.98 42.31 49.54 40.77 49.54 37.13 49.54 33.48 49.54 31.73 49.54 30.18 56.98 32.69 57.85 31.57 59.8 34.95 66.16 37.13 66.16 39.3 66.16 42.68 59.8 41.57 57.85"/>
                            <polygon class="cls-7"
                                     points="37.91 52.73 40.72 49.91 40.35 49.54 37.13 49.54 33.9 49.54 33.53 49.91 36.35 52.73 34.52 65.35 34.95 66.16 37.13 66.16 39.3 66.16 39.73 65.35 37.91 52.73"/>
                            <path class="cls-3"
                                  d="M41.74,39.33H32.29l-.57,10.21.46.22a8.71,8.71,0,0,0,1.2.43,13.55,13.55,0,0,0,3.64.48,13.27,13.27,0,0,0,3.64-.48,8.37,8.37,0,0,0,1.2-.43l.45-.22Z"/>
                            <path class="cls-3"
                                  d="M47.53,31.5c0,6.26-4.7,15.32-10.51,15.32S26.5,37.76,26.5,31.5a10.52,10.52,0,1,1,21,0Z"/>
                            <path class="cls-8"
                                  d="M37,46.82a7.4,7.4,0,0,1-5-2.29l-.05.84A7.7,7.7,0,0,0,37,47.57a7.67,7.67,0,0,0,5.06-2.2l0-.84A7.4,7.4,0,0,1,37,46.82Z"/>
                            <path class="cls-9"
                                  d="M37,20.72A10.46,10.46,0,0,0,26.5,31.5a17,17,0,0,0,.69,4.57s.06-.21.12-.53.18-.78.25-1.32c0-.27.09-.56.11-.87s.06-.63.08-1,0-.68,0-1,0-.7,0-1.06-.05-.71-.09-1.06-.08-.69-.13-1-.07-.39-.11-.58A14.8,14.8,0,0,0,32,29.42a12.77,12.77,0,0,1-3.59.17,17.66,17.66,0,0,0,7.41,1.49c5.28,0,8.67-1.38,10.73-3a.68.68,0,0,1,0,.14c0,.33-.1.68-.13,1s-.06.71-.09,1.06c0,.71,0,1.42,0,2.09,0,.34,0,.66.08,1s.08.6.11.86c.07.52.2,1,.25,1.32a5.39,5.39,0,0,0,.12.53,17,17,0,0,0,.69-4.57A10.45,10.45,0,0,0,37,20.72Z"/>
                        </g>
                    </g>
                </svg>

            </a>

            <a class="box-border h-1/2 w-1/6 p-4  bg-gray-100 flex flex-col  justify-evenly align-center rounded-xl hover:bg-blue-300 shadow-md p-16 cursor-pointer">
                <h3>Mes Objets</h3>
                <svg xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" viewBox="0 0 57.44 55.75">
                    <defs>
                        <style>.cls-1 {
                                fill: #54c6c7;
                            }

                            .cls-2 {
                                fill: #fab000;
                            }

                            .cls-3 {
                                fill: #d56331;
                            }

                            .cls-4 {
                                fill: #2a6364;
                            }</style>
                    </defs>
                    <g id="Calque_2" data-name="Calque 2">
                        <g id="Layer_1" data-name="Layer 1">
                            <path class="cls-1"
                                  d="M47.86,24.33c0-9.42-8.51-5.73-12.61-13.71-1-2,0-8.62,0-8.62H12.61s1,6.65,0,8.62C8.51,18.6,0,14.91,0,24.33S8.05,48.48,12.61,54.14c.26.34,0,1.61,0,1.61H35.25s-.27-1.27,0-1.61C39.81,48.48,47.86,33.74,47.86,24.33Z"/>
                            <path class="cls-2" d="M35.25,4H12.61a2,2,0,0,1,0-4H35.25a2,2,0,0,1,0,4Z"/>
                            <path class="cls-3"
                                  d="M44.32,15.59l-9.83-1.25a1.47,1.47,0,0,0-1.73,1.73L34,25.9a6.84,6.84,0,0,0,1.66,3.4l9.14,9.13a2,2,0,0,0,2.83,0l9.21-9.21a2,2,0,0,0,0-2.83l-9.13-9.14A6.8,6.8,0,0,0,44.32,15.59Zm-7.07,3.24a1.35,1.35,0,1,1,0-1.91A1.36,1.36,0,0,1,37.25,18.83Z"/>
                            <path class="cls-2"
                                  d="M48.78,31l-.09.09c-.26.25-.49.47-.71.65a7,7,0,0,1-.64.5,6.58,6.58,0,0,1-.67.4c-.23.12-.48.25-.75.36a5.6,5.6,0,0,1-.54-.8c-.17-.29-.33-.6-.49-.93a6.24,6.24,0,0,0,1.18-.64,7.32,7.32,0,0,0,1-.83,3,3,0,0,0,.88-1.37,1.24,1.24,0,0,0-.41-1.2,1.16,1.16,0,0,0-.56-.34,1.37,1.37,0,0,0-.57,0,2.51,2.51,0,0,0-.57.18l-.58.23-.87.34a7.38,7.38,0,0,1-1,.35,2.93,2.93,0,0,1-1,.11,2.36,2.36,0,0,1-.93-.23,3.86,3.86,0,0,1-.94-.7,3.12,3.12,0,0,1-1-2.22,3.74,3.74,0,0,1,.89-2.35l-1.22-1.22a2.38,2.38,0,0,1,.43-.56,2.68,2.68,0,0,1,.58-.44l1.18,1.18a8.89,8.89,0,0,1,1-.75,12.33,12.33,0,0,1,1.16-.64,5.74,5.74,0,0,1,.94,1.68l-.49.22a3.87,3.87,0,0,0-.49.26,4.07,4.07,0,0,0-.53.38,7,7,0,0,0-.61.55,5,5,0,0,0-.37.42,1.71,1.71,0,0,0-.24.49,1.14,1.14,0,0,0,0,.52,1.42,1.42,0,0,0,.81.85,1.16,1.16,0,0,0,.49.05,2.42,2.42,0,0,0,.5-.12l.49-.2,1-.4c.41-.17.8-.31,1.16-.43a3.27,3.27,0,0,1,1-.16,2.55,2.55,0,0,1,1,.25,3.76,3.76,0,0,1,1.07.8,3.35,3.35,0,0,1,1.06,2.13,3.81,3.81,0,0,1-.67,2.44L51,31.24a2.37,2.37,0,0,1-.43.57,2.79,2.79,0,0,1-.57.44Z"/>
                            <path class="cls-4"
                                  d="M34.82,18c-4.88,0-16.88-.59-23-6.07a.5.5,0,0,1,0-.71.48.48,0,0,1,.7,0c7.4,6.56,24.29,5.78,24.46,5.77a.51.51,0,0,1,.53.48.5.5,0,0,1-.47.52C36.8,17.91,36,18,34.82,18Z"/>
                        </g>
                    </g>
                </svg>

            </a>


            <a class="box-border h-1/2 w-1/6 p-4  bg-gray-100 flex flex-col justify-evenly align-center rounded-xl hover:bg-blue-300 shadow-md p-16 cursor-pointer">
                <h3>Mes Adresses</h3>
                <svg xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" viewBox="0 -16 965.00058 965"
                >
                    <g id="surface1">
                        <path d="M 311.292969 389.113281 C 311.292969 479.167969 463.507812 685.386719 470.054688 694.179688 C 472.992188 698.125 477.621094 700.464844 482.546875 700.464844 C 487.46875 700.464844 492.105469 698.125 495.046875 694.179688 C 501.492188 685.386719 653.714844 479.167969 653.714844 389.113281 C 653.714844 294.554688 577.058594 217.902344 482.5 217.902344 C 387.941406 217.902344 311.292969 294.554688 311.292969 389.113281 Z M 622.582031 389.113281 C 622.582031 449.613281 530.757812 590.714844 482.5 658.371094 C 434.246094 590.75 342.425781 449.660156 342.425781 389.113281 C 342.425781 311.746094 405.132812 249.03125 482.5 249.03125 C 559.867188 249.03125 622.582031 311.746094 622.582031 389.113281 Z M 622.582031 389.113281 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                        <path d="M 389.113281 389.113281 C 389.113281 440.679688 430.921875 482.5 482.5 482.5 C 534.074219 482.5 575.886719 440.679688 575.886719 389.113281 C 575.886719 337.527344 534.074219 295.730469 482.5 295.730469 C 430.949219 295.777344 389.167969 337.554688 389.113281 389.113281 Z M 544.757812 389.113281 C 544.757812 423.492188 516.882812 451.371094 482.5 451.371094 C 448.125 451.371094 420.246094 423.492188 420.246094 389.113281 C 420.246094 354.730469 448.125 326.855469 482.5 326.855469 C 516.882812 326.855469 544.757812 354.730469 544.757812 389.113281 Z M 544.757812 389.113281 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                        <path d="M 958.074219 313.90625 L 491.144531 2.613281 C 485.90625 -0.871094 479.09375 -0.871094 473.859375 2.613281 L 6.929688 313.90625 C 1.226562 317.710938 -1.316406 324.804688 0.667969 331.367188 C 2.660156 337.929688 8.707031 342.414062 15.570312 342.414062 L 140.085938 342.414062 L 140.085938 887.175781 C 140.085938 912.957031 160.988281 933.867188 186.773438 933.867188 L 778.226562 933.867188 C 804.011719 933.867188 824.917969 912.957031 824.917969 887.175781 L 824.917969 342.414062 L 949.429688 342.414062 C 956.296875 342.414062 962.34375 337.929688 964.328125 331.367188 C 966.320312 324.804688 963.78125 317.710938 958.074219 313.90625 Z M 809.355469 311.285156 C 800.761719 311.285156 793.789062 318.257812 793.789062 326.855469 L 793.789062 887.175781 C 793.789062 895.765625 786.820312 902.734375 778.226562 902.734375 L 186.773438 902.734375 C 178.179688 902.734375 171.210938 895.765625 171.210938 887.175781 L 171.210938 326.855469 C 171.210938 318.257812 164.238281 311.285156 155.648438 311.285156 L 66.929688 311.285156 L 482.5 34.25 L 898.074219 311.285156 Z M 809.355469 311.285156 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                        <path d="M 451.375 715.960938 L 513.628906 715.960938 L 513.628906 747.089844 L 451.375 747.089844 Z M 451.375 715.960938 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                        <path d="M 529.195312 715.960938 L 560.320312 715.960938 L 560.320312 747.089844 L 529.195312 747.089844 Z M 529.195312 715.960938 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                        <path d="M 404.679688 715.960938 L 435.808594 715.960938 L 435.808594 747.089844 L 404.679688 747.089844 Z M 404.679688 715.960938 "
                              style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"/>
                    </g>
                </svg>

            </a>


            <a class="box-border h-1/2 w-1/6 p-4  bg-gray-100 flex flex-col  justify-evenly align-center rounded-xl hover:bg-blue-300 shadow-md p-16 cursor-pointer">
                <h3>Mes Paiements</h3>
                <?xml version="1.0" ?>
                <svg xmlns="http://www.w3.org/2000/svg" height="80%" width="80%" viewBox="0 0 48 48"
                >
                    <g id="Icons">
                        <g>
                            <path d="M16.3872,34.6633l-6.71-10.09c-0.86-1.42-0.41-3.26,1.01-4.13l14.15-8.6    c1.42-0.86,3.26-0.41,4.13,1l3.68,6.06l1.18,2.11"
                                  style="fill:#F43735;"/>
                            <path d="M35.7572,36.5934h-16.569c-1.6568,0-3-1.3432-3-3V24.01c0-1.6568,1.3432-3,3-3h16.569    c1.6569,0,3,1.3432,3,3v9.5834C38.7572,35.2502,37.4141,36.5934,35.7572,36.5934z"
                                  style="fill:#F9F9F9;"/>
                            <rect height="3.1331" style="fill:#383838;" width="22.5712" x="16.1879" y="24.4404"/>
                            <g>
                                <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                      x1="36.6873" x2="34.0623" y1="31.6485" y2="31.6485"/>
                                <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                      x1="36.6873" x2="34.0623" y1="32.7735" y2="32.7735"/>
                                <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                      x1="36.6873" x2="34.0623" y1="33.9402" y2="33.9402"/>
                            </g>
                            <path d="M25.6898,29.138c-1.0925,0-2.0289,0.659-2.44,1.6c-0.4111-0.941-1.3475-1.6-2.44-1.6    c-1.4715,0-2.6642,1.1928-2.6642,2.6641c0,1.4714,1.1927,2.6642,2.6642,2.6642c1.0925,0,2.0289-0.6591,2.44-1.6001    c0.4111,0.941,1.3475,1.6001,2.44,1.6001c1.4714,0,2.6641-1.1928,2.6641-2.6642C28.3539,30.3308,27.1612,29.138,25.6898,29.138z"
                                  style="fill:#FFC601;"/>
                            <path d="    M35.7572,36.5934h-16.569c-1.6568,0-3-1.3432-3-3V24.01c0-1.6568,1.3432-3,3-3h16.569c1.6569,0,3,1.3432,3,3v9.5834    C38.7572,35.2502,37.4141,36.5934,35.7572,36.5934z"
                                  style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/>
                            <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                  x1="38.7591" x2="16.1879" y1="24.4404" y2="24.4404"/>
                            <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                  x1="38.7591" x2="16.1879" y1="27.5735" y2="27.5735"/>
                            <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                  x1="17.1372" x2="17.1272" y1="35.7833" y2="35.7733"/>
                            <path d="    M16.3872,34.6633l-6.71-10.09c-0.86-1.42-0.41-3.26,1.01-4.13l14.15-8.6c1.42-0.86,3.26-0.41,4.13,1l3.68,6.06l1.18,2.11"
                                  style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/>
                            <g>
                                <path d="     M11.5128,25.096c0,0-1.9506-2.1279-0.14779-3.5182l5.77659-3.5273"
                                      style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"/>
                                <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                      x1="18.4377" x2="19.0404" y1="17.309" y2="16.8798"/>
                                <line style="fill:none;stroke:#303030;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
                                      x1="32.2411" x2="30.6115" y1="21.01" y2="18.3804"/>
                            </g>
                            <circle cx="20.79519" cy="31.80215" r="2.64959" style="fill:#F43735;"/>
                        </g>
                    </g>
                </svg>


            </a>

        </div>

    </div>





{% endblock %}



{#
Green : green-300
Dark Grey : grey-700
Grey : grey-600
White : grey-100
Red : red-500
Blue : blue-300



                            #}