{{ form_start(form) }}

{{ form_widget(form.Nom) }}
{{ form_widget(form.Description) }}

<div class="row js-genus-scientist-wrapper"
     data-prototype="{{ form_widget(form.Produits.vars.prototype)|e('html_attr') }}"
     data-index="{{ form.Produits|length }}">



    {% for ProductForm in form.Produits %}


        <div class="col-xs-4 js-genus-scientist-item">
            <a href="#" class="js-remove-scientist pull-right">
                <span class="fa fa-close"></span>
            </a>
            {{ form_widget(ProductForm.NomAuteur) }}
            {{ form_widget(ProductForm.NomStyle) }}
            {{ form_widget(ProductForm.PrixReserve) }}
            {{ form_widget(ProductForm.ReferenceCatalogue) }}
            {{ form_widget(ProductForm.Description) }}
            {{ form_widget(ProductForm.IsSend) }}
            {{ form_widget(ProductForm.Lot) }}
            {{ form_widget(ProductForm.Vendeur) }}
            {{ form_widget(ProductForm.EnchereGagnante) }}
            {{ form_widget(ProductForm.Categorie) }}





        </div>



    {% endfor %}


    <div class="row js-genus-scientist-wrapper">
        <a href="#" class="js-product-add">
            <span class="fa fa-plus-circle"></span>
            Add Another Scientist
        </a>
    </div>


    <button class="btn">{{ button_label|default('Save') }}</button>







    {% block javascripts %}

        <script>
            jQuery(document).ready(function () {
                console.log("TEST");
                const $wrapper = $('.js-product-add');
                $wrapper.on('click', '.js-product-add', function (e) {
                    console.log("TEST");
                    e.preventDefault();
                    // Get the data-prototype explained earlier
                    var prototype = $wrapper.data('prototype');
                    // get the new index
                    var index = $wrapper.data('index');
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = prototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $wrapper.data('index', index + 1);
                    // Display the form in the page before the "new" link
                    $(this).before(newForm);
                });
            });
        </script>

    {% endblock %}

    {{ form_end(form) }}
